html, body {
  margin:0;
  padding:0;
  font-family: 'Avenir Next Condensed';
}
a {
  color:white;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
p, h1{
  margin:0;
}


@font-face {
 font-family: "Avenir";
 src: url("assets/avenir.otf") format("otf"),
}

/* main elements */

.causes {
  background: rgb(255,109,108);
  width:100vw;
  height:100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.causes-container {
  width:80vw;
  height:80vh;
  display: flex;
  flex-direction: column;
}

.info-tree {
  /*width:100%;*/
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#tronc {
  width:90%;
  margin: 0 auto 2em;
}
#urban, #agri, #extr, #expl{
  color:white;
  font-weight: 400;
  font-size: 24px;
  font-style: italic;
}
.barre {
  width:80px;
  height:3px;
  background-color: white;
  position: absolute;
}
.barre1 {
  transform: rotateZ(-20deg);
  top: 50px;
  left: -90px;
}
.barre2 {
  transform: rotateZ(30deg);
  top: 60px;
  right: -80px;
}
.barre3 {
  transform: rotateZ(-26deg);
  top: 65px;
  left: -100px;
}
.barre4 {
  transform: rotateZ(-30deg);
  top: 0;
  right: -30px;
}
.causes-infos {
  position: absolute;
  z-index: 5;
}

.urban-container{
  top:30vh;
  right:30vw;
}
.agri-container{
  top:45vh;
  left:30vw;
}
.extr-container{
  top:80vh;
  left:30vw;
}
.expl-container{
  top:65vh;
  right:28vw;
}


h1 {
  color:white;
  font-size: 80pt;
  font-weight: 600;
}

.text-container {
  width:100vw;
  height:100%;
  overflow: hidden;
}

#wrapper {
  width:610.5vw;
  height:100vh;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

#trees-container {
  width:100%;
  height:100%;
  z-index: -1;
  background: url("assets/fond/fond.jpg");
  background-size: cover;
  position: relative;
}

.text-container{
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: center;
}

.text-content{
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:fit-content;
  padding:0.2em 1.8em;
  border:2px solid white;
  background: rgba(0,0,0,0.6);
  border-radius: 50px;
  margin-top: 2vh;
}

.view {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

#la {
  z-index:2;
  width:10vw;
  margin-right: 32vw;
}
#deforestation {
  z-index:2;
  width:65vw;
  margin-bottom: 3vh;
}
#fleche {
  z-index:2;
  width:2vw;
}
#scroll {
  z-index:2;
  width:10vw;
  margin-top:1vh;
  margin-right: 0.7vw;
}
#cartouche{
  z-index: 2;
  width:17vw;
  display: none;
}
#fond1, #fond2, #fond3, #fond4 {
  position: absolute;
  top:0;
  left:0;
  width:125vw;
  height:100vh;
}
#fond5, #fond6, #fond7 {
  position: absolute;
  top:0;
  left:0;
  width:600vw;
  height:100vh;
}

/* added elements */

#menu-container {
  position: absolute;
  padding:50px;
  top:0;
  right:0;
}
#info-container {
  position: absolute;
  padding:50px;
  bottom:0;
  left:0;
  z-index: 3;
}
#info-container #cartouche_vide {
  position: relative;
  z-index: 1;
  width:200px;
}

#date {
  position: absolute;
  bottom: 78px;
  font-weight: bold;
  font-size: 23px;
  left: 68px;
  z-index: 2;
}
#percent {
  position: absolute;
  color: white;
  bottom: 78px;
  left: 139px;
  font-size: 23px;
  z-index: 2;
}
#note {
  position: absolute;
  color: white;
  font-size: 10px;
  bottom: 58px;
  left: 121px;
  z-index: 2;
}

#menu {
  width:40px;
  cursor:pointer;
}
#link, #link-causes {
  border-radius: 15px;
  font-size: 18px;
  color:white;
  width:fit-content;
  padding:10px 35px 5px 15px;
  flex-direction: column;
}
#link {
  background-color: #ff7373;
}
#link-causes {
  background-color: #ffb6b6;
}

#close {
  position: absolute;
  width:15px;
  right:58px;
  top:58px;
  cursor: pointer;
}

/* animations */

#fleche {
  animation: move 2s ease-in-out infinite;
}

.display-none {
  display: none;
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }50%{
    transform: translateX(10px);
  }100%{
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }100%{
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }100%{
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    transform: translateX(0);
  }100%{
    transform: translateX(300px);
  }
}

@keyframes show {
  0%{
    transform: translateX(300px);
  }100%{
    transform: translateX(0);
  }
}
